.todos{
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    background-color: #333;
    border-radius: 10px;
    min-height: 60vh;
}

@media screen and (max-width: 1000px) {
    .todos{
        width: 70%;
    }
}
@media screen and (max-width: 700px) {
    .todos{
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .todos{
        width: 90%;
    }
}